<router-outlet></router-outlet>
<footer class="container mt-5">
  <div class="row">
     <div class="col-12 text-center">
        <ul class="list-inline">
           <li class="list-inline-item"><a href="#" class="link-dark">Acerca de</a></li>
           <li class="list-inline-item"><a href="#" class="link-dark">Blog</a></li>
           <li class="list-inline-item"><a href="#" class="link-dark">Ayuda</a></li>
           <li class="list-inline-item"><a href="#" class="link-dark">API</a></li>
           <li class="list-inline-item"><a href="#" class="link-dark">Empleo</a></li>
           <li class="list-inline-item"><a href="#" class="link-dark">Privacidad</a></li>
           <li class="list-inline-item"><a href="#" class="link-dark">Términos</a></li>
           <li class="list-inline-item"><a href="#" class="link-dark">Cuentas destacadas</a></li>
           <li class="list-inline-item"><a href="#" class="link-dark">Hashtags</a></li>
           <li class="list-inline-item"><a href="#" class="link-dark">Ubicaciones</a></li>
        </ul>
        <p class="text-muted">© 2021 Instagram from Facebook</p>
     </div>
  </div>
</footer>